@tailwind base;
@tailwind components;
@tailwind utilities;

.entryForm-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.entryForm-content {
    padding: 20px;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.field-container {
    margin-bottom: 10px;
    width: 100%;

}

.input-field {
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

.buttons-field {

    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;
}

.buttons-field button {
    margin: 0 8px; 
}